body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Full height of the viewport */
    background-image: url("{% static 'skill_tracker/background.webp' %}");
    background-size: cover; /* Scales the image to cover the entire area */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center center; /* Centers the image */
}

